@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "compasse-regular";
  src: url("../fonts/compasse-regular.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: 'compasse-regular';
}

/* @font-face {
    font-family: "AnultraSlabRegular";
    src: url("/Fonts/AnultraSlabRegular.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  } */

.maintenance-page {
  background: transparent linear-gradient(180deg, #1D2859 0%, #060812 100%) 0% 0% no-repeat padding-box;
}

.maintenance-page-image {
  filter: brightness(40%);
}

.maintenance-input-email {
  box-shadow: 0px 0px 20px #00000029;
}

.maintenance-input-button {
  background: #348F41 0% 0% no-repeat padding-box;
}

@media only screen and (max-width: 600px) {
  .maintenance-input-email {
    font-size: 12px;
  }

  .maintenance-input-button {
    font-size: 12px;
  }
}