@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'compasse-regular';
  src: url('../fonts/compasse-regular.ttf?v=1.101'), format('truetype');
  src: url('../fonts/COMPASSE-REGULAR.woff'), format('woff');
  ;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'compasse-extrabold';
  src: url('../fonts/COMPASSE\ EXTRA\ BOLD.TTF'), format('truetype');
  src: url('../fonts/COMPASSE\ EXTRA\ BOLD.woff'), format('woff');
  ;
  font-weight: 900;
  font-style: normal;
}


body {
  font-family: 'compasse-regular';
}

.maintenance-page {
  background: transparent linear-gradient(180deg, #1D2859 0%, #060812 100%) 0% 0% no-repeat padding-box;
}

.maintenance-page-image {
  filter: brightness(40%);
}

.maintenance-input-email {
  box-shadow: 0px 0px 20px #00000029;
}

.maintenance-input-button {
  background: #1A5632 0% 0% no-repeat padding-box;
}

.leader-details-box {
  background: #1D2859 0% 0% no-repeat padding-box;
  height: 160px;
  max-width: 500px;
}

.footer {
  background: transparent linear-gradient(180deg, #1A5632 99%, #00205C 100%) 0% 0% no-repeat padding-box;

}

.footer-links>p {
  font-size: 20px;
}

.social-media-icon {
  height: 45px;
  width: 45px;
  border-radius: 100px;
}

.social-media-icon-wrapper {
  margin: 10px;
}

.youtube {
  margin-top: 13px !important;
}

.logo-section>div {
  position: unset !important;
}

.email-section input {
  background: none;
  border-bottom: 1px solid #fff;
  padding: 20px;
}

.email-section .submit-button {
  margin: 20px auto;
  background: white;
  border-radius: 100px;
  padding: 10px;
  font-weight: 600;
  color: #1A5632;
  width: 190px;
}

.footer-image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.resource-image {
  object-fit: contain;
  width: 50% !important;
  position: relative !important;
  height: unset !important;
}

.bg-custom {
  height: 350px;
  position: relative;
  margin-top: -5px;
}

.header-bar {
  background: transparent linear-gradient(270deg, #00205C 0%, #13483D 52%, #1A5632 100%) 0% 0% no-repeat padding-box;
}

@media only screen and (max-width: 600px) {
  .maintenance-input-email {
    font-size: 12px;
  }

  .maintenance-input-button {
    font-size: 12px;
  }

  .footer-link {
    font-size: 16px;
  }

  .bg-custom {
    height: 100px;
    margin-top: -11px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .header-bar {
    max-width: 750px !important;
  }
}

/*Desktop Resolutions*/
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .animation-1 {
    bottom: 0;
    right: 6%;
  }

  .animation-2 {
    left: calc(-13% + 100vw - 1024px);
    top: -200px;
  }

  .animation-3 {
    right: -7%;
    top: -196px;
  }

  .circluar-progress-bar {
    left: 40%
  }
}

/*Desktop Resolutions*/
@media screen and (min-width: 1280px) and (max-width: 1326px) {
  .animation-1 {
    bottom: 0;
    right: 13%;
  }

  .animation-2 {
    left: calc(1% + 100vw - 1280px);
    top: -201px;
  }

  .animation-3 {
    right: 2.3%;
    top: -201px;
  }
  .circluar-progress-bar {
    left: 43%
  }
}

@media screen and (min-width: 1326px) and (max-width: 1366px) {
  .animation-1 {
    bottom: 0;
    right: 13%;
  }

  .animation-2 {
    left: calc(3.5% + 100vw - 1326px);
    top: -201px;
  }

  .animation-3 {
    right: 3%;
    top: -201px;
  }
  .circluar-progress-bar {
    left: 46%
  }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
  .animation-1 {
    bottom: 0;
    right: 16%;
  }

  .animation-2 {
    left: calc(2.5% + 100vw - 1367px);
    top: -201px;
  }

  .animation-3 {
    right: 6.5%;
    top: -199px;
  }
  .circluar-progress-bar {
    left: 46%
  }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
  .animation-1 {
    bottom: 0;
    right: 16%;
  }

  .animation-2 {
    left: calc(1% + 100vw - 1367px);
    top: -201px;
  }

  .animation-3 {
    right: 7.5%;
    top: -199px;
  }
  .circluar-progress-bar {
    left: 50%
  }
}

@media screen and (min-width: 1601px) and (max-width: 1700px) {
  .animation-1 {
    bottom: 0;
    right: 16%;
  }

  .animation-2 {
    left: calc(14% + 100vw - 1601px);
    top: -199px;
  }

  .animation-3 {
    right: 7.6%;
    top: -201px;
  }
  .circluar-progress-bar {
    left: 51%
  }
}

@media screen and (min-width: 1700px) and (max-width: 1800px) {
  .animation-1 {
    bottom: 0;
    right: 22%;
  }

  .animation-2 {
    left: 250px;
    top: -200px;
  }

  .animation-3 {
    right: 14%;
    top: -200px;
  }
}


@media screen and (min-width: 1800px) and (max-width: 1920px) {
  .animation-1 {
    bottom: 0;
    right: 25%;
  }

  .animation-2 {
    left: 340px;
    top: -200px;
  }

  .animation-3 {
    right: 18%;
    top: -197px;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
  .animation-1 {
    bottom: 0;
    right: 32%;
  }

  .animation-2 {
    left: 25%;
    top: -200px;
  }

  .animation-3 {
    right: 26.5%;
    top: -202px;
  }
}

.timeline {
  @apply relative min-h-[150px] flex flex-col items-end;

}



.line {
  @apply absolute left-[calc(25%_-_1px)] w-0.5 bg-white h-full top-0 after:absolute after:block after:content-[""] after:h-4 after:w-4 after:bg-white after:-translate-x-2/4 after:rounded-[50%] after:left-2/4 after:bottom-0;
}


.line-inner {
  @apply relative w-full h-full bg-[white];
}

.section {
  @apply flex flex-col gap-1 lg:gap-2 transition-[600ms] duration-[ease] relative z-[4] items-start min-h-[300px] p-4;
}

.section .section-title{
  @apply text-3xl
}

.section.active .section-title {
  @apply opacity-[100] text-4xl;
}

.section.active h2,
.section.active h5,
.section.active p {
  @apply text-[white] opacity-[100];
}

.section.active h5{
  @apply text-2xl;
}

.section.active p {
 @apply text-xl;
}

.section button{
  @apply hidden;
}

.section.active button{
  @apply block p-1 border-2 text-white text-lg md:hidden;
}

.section.active .section-ball{
  @apply w-8 h-8 -top-4 -left-4;
}