@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'arial-regular';
  src: url('../fonts/arial-regular.ttf'), format('truetype');
  src: url('../fonts/ArialMT.woff'), format('woff');
  ;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'arial-bold';
  src: url('../fonts/ARIBLK.TTF'), format('truetype');
  src: url('../fonts/Arial\ Black.woff'), format('woff');
  ;
  font-weight: 900;
  font-style: normal;
}


body {
  font-family: 'arial-regular';
}

ul{
  list-style: disc;

}

testul{
  font-size: 3em;
}

.maintenance-page {
  background: transparent linear-gradient(180deg, #1D2859 0%, #060812 100%) 0% 0% no-repeat padding-box;
}

.maintenance-page-image {
  filter: brightness(40%);
}

.maintenance-input-email {
  box-shadow: 0px 0px 20px #00000029;
}

.maintenance-input-button {
  background: #1A5632 0% 0% no-repeat padding-box;
}

.leader-details-box {
  background: #1D2859 0% 0% no-repeat padding-box;
  height: 160px;
  max-width: 500px;
}

.footer {
  background: transparent linear-gradient(180deg, #1A5632 99%, #00205C 100%) 0% 0% no-repeat padding-box;

}

.footer-links>p {
  font-size: 20px;
}

.social-media-icon {
  height: 45px;
  width: 45px;
  border-radius: 100px;
}

.social-media-icon-wrapper {
  margin: 10px;
}

.youtube {
  margin-top: 13px !important;
}

.logo-section>div {
  position: unset !important;
}

.email-section input {
  background: none;
  border-bottom: 1px solid #fff;
  padding: 20px;
}

.email-section .submit-button {
  margin: 20px auto;
  background: white;
  border-radius: 100px;
  padding: 10px;
  font-weight: 600;
  color: #1A5632;
  width: 190px;
}

.footer-image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}


.header-bar {
  background: transparent linear-gradient(270deg, #00205C 0%, #13483D 52%, #1A5632 100%) 0% 0% no-repeat padding-box;
}

@media only screen and (max-width: 600px) {
  .maintenance-input-email {
    font-size: 12px;
  }

  .maintenance-input-button {
    font-size: 12px;
  }

  .footer-link {
    font-size: 16px;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .header-bar {
    max-width: 750px !important;
  }
}

.timeline {
  @apply relative min-h-[150px] flex flex-col items-end;

}



.line {
  @apply absolute left-[calc(25%_-_1px)] w-0.5 bg-white h-full top-0 md:top-4 after:absolute after:block after:content-[""] after:h-4 after:w-4 after:bg-white after:-translate-x-2/4 after:rounded-[50%] after:left-2/4 after:bottom-0;
}


.line-inner {
  @apply relative w-full h-full bg-[white];
}

.section {
  @apply flex flex-col gap-1 lg:gap-2 transition-[600ms] duration-[ease] relative z-[4] items-start min-h-[300px] p-4;
}

.section .section-title{
  @apply text-3xl
}

.section.active .section-title {
  @apply opacity-[100] text-4xl;
}

.section.active h2,
.section.active h5,
.section.active p {
  @apply text-[white] opacity-[100];
}

.section.active h5{
  @apply text-2xl;
}

.section.active p {
 @apply text-xl;
}

.section button{
  @apply hidden;
}

.section.active button{
  @apply block p-1 border-2 text-white text-lg md:hidden;
}

.section.active .section-ball{
  @apply w-8 h-8 md:w-7 md:h-7 -top-4 md:top-4 -left-4;
}


/* Landing section fade in effect
.scroll-background{
  animation:scroll-background linear forwards;
  animation-timeline:view();
  animation-range:exit;
  opacity:1;
}

@keyframes scroll-background{
  to {opacity:0;}

}
*/

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
/*Leadership image hover effect
} */

.image-hover {   
  --s: 250px;              /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 14px;    /* the gap */
  --c: #1A5632; /* the color */
  
  aspect-ratio: 1;
  width:var(--s);
  outline: calc(var(--s)/2) solid rgba(0, 0, 0, 0);
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: .3s;
}
.image-hover:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}


/* Link hover effect*/

.link-hover {
  padding: .5em .8em;
  position: relative;
  color:white;
  width:fit-content;

}

.link-hover::before,
.link-hover::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.link-hover::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  /* transform: translate(-100%, 50%); */
}

.link-hover::after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  /* transform: translate(100%, -50%) */
}

/* .link-hover:hover::before,
.link-hover:hover::after{
  transform: translate(0,0);
  opacity: 1;
} */

.link-hover:hover {
  color:#fff;
  cursor:pointer;
}

/*link-hover-footer custom colors

.link-hover-footer:hover {
  color: #00205c;
}

.link-hover-footer::after{
  border-bottom: 3px solid #00205c;
  border-left: 3px solid #00205c;
}

.link-hover-footer::before{
  border-top: 3px solid #00205c;
  border-right: 3px solid #00205c;
}


/*link hover header customs colors
.link-hover-header:hover {
  color: #3DA35D;
}

.link-hover-header::before{
  border-right: 3px solid #2E640F;
  border-top: 3px solid #3E8914;
}

.link-hover-header::after{
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
}

*/

[data-lenis-prevent] {
  overscroll-behavior: contain;
}

.Typewriter__cursor{
  display: none;
}


/* Read more button */

.hover-button {
  display: flex;
  width:200px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  cursor: pointer;
  border-radius:999px;
}

.hover-button .icon {
  width: 16px; /* Set width for the image */
  height: 22px; /* Set height for the image */
  margin-right: 8px;
}

.icon {
  position: absolute;
  left: 16px; /* Align the icon to the left */
  width: 16px; /* Set icon size */
  height: auto;
}

.hover-button::before {
  content:"";
  position: absolute;
  top:50;
  left:0%;
  width: 50px; /* Initially covers only 10% of the button */
  height: 50px;
  background-color: #FFFFFF;
  /* background-image: url('/assets/blog/chevron-right-solid base.png');
  background-repeat: no-repeat;
  background-position: center left; */
  background-size: 16px;
  z-index: -1;
  transition: width 0.9s ease;
  border-radius:999px;

}

.hover-button:hover::before {
  width: 100%; /* Expands to cover the full button on hover */
}

.hover-button:hover {
  color: green;
}

.hover-button .button-text {
  z-index: 1;
  transition: color 0.3s ease;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in WebKit browsers (Chrome, Safari) */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Hides scrollbar in IE & Edge */
  scrollbar-width: none;  /* Hides scrollbar in Firefox */
}